html
    head 
    title User App
    body
        p Please submit your information below: 
        form(method="post" action="/createUser")
            div
                label(for='first_name') First Name: 
                input(id="first_name" name="first_name")
            div
                label(for='last_name') Last Name: 
                input(id="last_name" name="last_name")
            div
                label(for='email') Email: 
                input(id="email" name="email")
            div
                label(for='age') Age: 
                input(id="age" name="age" type="number")
            div 
                input(type="submit")